<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mongo playground: a simple sandbox to test and share MongoDB queries online">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="/static/playground-min-12.css" rel="stylesheet" type="text/css">
    <script src="/static/playground-min-12.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/mode-javascript.js" type="text/javascript"></script>
    <script type="text/javascript">

        var configEditor, queryEditor, resultEditor
        var comboMode, comboTemplate

        var hasChangedSinceLastRun = false
        var hasChangedSinceLastSave = false

        var minWidth = 60
        var isConfigHandlerDragging = false
        var isQueryHandlerDragging = false

        window.onload = function () {

            comboMode = new CustomSelect({elem: 'mode'})
            comboTemplate = new CustomSelect({elem: 'template'})

            var configDiv = document.getElementById("config")
            var queryDiv = document.getElementById("query")
            configDiv.innerHTML = indent(configDiv.innerHTML)
            queryDiv.innerHTML = indent(queryDiv.innerHTML)

            var commonOpts = {
                "mode": "ace/mode/javascript",
                "fontSize": "16px",
                "enableBasicAutocompletion": true,
                "enableLiveAutocompletion": true,
                "enableSnippets": true
            }
            configEditor = ace.edit(configDiv, commonOpts)
            queryEditor = ace.edit(queryDiv, commonOpts)
            resultEditor = ace.edit(document.getElementById("result"), {
                "mode": commonOpts.mode,
                "fontSize": commonOpts.fontSize,
                "readOnly": true,
                "showLineNumbers": false,
                "showGutter": false,
                "useWorker": false,
                "highlightActiveLine": false,
                "wrap": true
            })
            resultEditor.renderer.$cursorLayer.element.style.display = "none"

            configEditor.completers = [configWordCompleter]
            queryEditor.completers = [queryWordCompleter]

            updateAvailableCollection(configEditor.getValue(), comboMode.getValue())

            configEditor.getSession().on('change', changeFunc)
            queryEditor.getSession().on('change', changeFunc)

            addKeyDownListener()
            addDivResizeListener()
        }

        function addKeyDownListener() {
            document.addEventListener('keydown', function (event) {
                if ((event.ctrlKey || event.metaKey) && event.key === "Enter") {
                    event.preventDefault()
                    run()
                }
                if ((event.ctrlKey || event.metaKey) && event.key === "s") {
                    event.preventDefault()
                    formatAll(true)
                }
            })
        }

        function addDivResizeListener() {

            document.addEventListener("mousedown", function (e) {
                if (e.target.id === "configResizeHandler") {
                    isConfigHandlerDragging = true
                }
                if (e.target.id === "queryResizeHandler") {
                    isQueryHandlerDragging = true
                }
            })

            document.addEventListener("mouseup", function (e) {
                isConfigHandlerDragging = false
                isQueryHandlerDragging = false
            })

            document.addEventListener("mousemove", function (e) {
                var box
                if (isConfigHandlerDragging) {
                    box = document.getElementById("configPanel")
                } else if (isQueryHandlerDragging) {
                    box = document.getElementById("queryPanel")
                } else {
                    return false
                }
                var pointerRelativeXpos = e.clientX - box.offsetLeft
                box.style.width = (Math.max(minWidth, pointerRelativeXpos + 2)) + "px"
                box.style.flexGrow = "0"
            })
        }

        function changeFunc() {
            if (hasChangedSinceLastRun && hasChangedSinceLastSave) {
                return
            }
            hasChangedSinceLastRun = true
            hasChangedSinceLastSave = true
            redirect("/", false)
        }

        function redirect(url, showLink) {
            window.history.replaceState({}, "MongoDB playground", url)
            document.getElementById("link").style.visibility = showLink ? "visible" : "hidden"
            document.getElementById("link").value = url
            document.getElementById("share").disabled = showLink
        }

        function setTemplate(index) {
            var formattedConfig = indent(templates[index].config)
            configEditor.setValue(formattedConfig, 1)
            queryEditor.setValue(indent(templates[index].query), 1)
            resultEditor.setValue("", 1)
            document.getElementById("mode").value = templates[index].mode
            updateAvailableCollection(formattedConfig, comboMode.getValue())
        }

        function showDoc(doShow) {

            if (doShow && !document.getElementById("docPanel").hasChildNodes()) {
                loadDocs()
            }

            if (doShow && document.getElementById("docPanel").style.display === "inline") {
                doShow = false
            }
            document.getElementById("docPanel").style.display = doShow ? "inline" : "none"
            document.getElementById("queryPanel").style.display = doShow ? "none" : "inline"
            document.getElementById("resultPanel").style.display = doShow ? "none" : "inline"
            if (!doShow && hasChangedSinceLastSave) {
                redirect("/", false)
            }
        }

        function loadDocs() {
            var r = new XMLHttpRequest()
            r.open("GET", "/static/docs-10.html", true)
            r.onreadystatechange = function () {
                if (r.readyState !== 4) { return }
                if (r.status === 200) {
                    document.getElementById("docPanel").innerHTML = r.responseText
                }
            }
            r.send(null)
        }

        function run() {
            if (formatAll(false)) {

                var r = new XMLHttpRequest()
                r.open("POST", "/run")
                r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
                r.onreadystatechange = function () {
                    if (r.readyState !== 4) { return }
                    if (r.status === 200) {

                        hasChangedSinceLastRun = false
                        var response = r.responseText
                        if (response.startsWith("[") || response.startsWith("{")) {
                            showResult(response, true)
                        } else if (response === "no document found") {
                            showResult(response, false)
                        } else {
                            showError(response)
                        }
                    }
                }
                r.send(encodePlayground(false))
            }
        }

        function save() {

            formatAll(hasChangedSinceLastRun)

            var r = new XMLHttpRequest()
            r.open("POST", "/save")
            r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
            r.onreadystatechange = function () {
                if (r.readyState !== 4) { return }
                if (r.status === 200) {

                    hasChangedSinceLastSave = false
                    var response = r.responseText
                    if (response.startsWith("http")) {
                        redirect(response, true)
                    } else {
                        showError(response)
                    }
                }
            }
            r.send(encodePlayground(true))
        }

        function encodePlayground(keepComment) {
            var result = "mode=" + comboMode.getValue()
            if (keepComment) {
                result += "&config=" + encodeURIComponent(compact(configEditor.getValue()))
                    + "&query=" + encodeURIComponent(compact(queryEditor.getValue()))
            } else {
                result += "&config=" + encodeURIComponent(compactAndRemoveComment(configEditor.getValue()))
                    + "&query=" + encodeURIComponent(compactAndRemoveComment(queryEditor.getValue()))
            }
            return result
        }

        function formatAll(clearResult) {

            if (clearResult) {
                resultEditor.setValue("", -1)
            }

            showDoc(false)

            if (document.querySelectorAll("#config > .ace_gutter > .ace_layer > .ace_error").length > 0) {
                showAceError("configuration", configEditor)
                return false
            }

            if (document.querySelectorAll("#query > .ace_gutter > .ace_layer > .ace_error").length > 0) {
                showAceError("query", queryEditor)
                return false
            }

            if (!isConfigValid(configEditor.getValue().trim(), comboMode.getValue())) {
                showError("invalid configuration:\n\nmust be an array of documents like '[ {_id: 1}, {_id: 2} ]'\n\nor\n\nmust match 'db = { collection: [ {_id: 1}, {_id: 2} ] }'")
                return false
            }
            if (hasChangedSinceLastRun) {
                var formattedConfig = indent(configEditor.getValue().trim())
                configEditor.setValue(formattedConfig, -1)
                updateAvailableCollection(formattedConfig, comboMode.getValue())
            }

            if (!isQueryValid(queryEditor.getValue().trim())) {
                showError("invalid query:\n\nmust match db.coll.find(...) or db.coll.aggregate(...) or db.coll.update()")
                return false
            }
            if (hasChangedSinceLastRun) {
                queryEditor.setValue(indent(queryEditor.getValue().trim()), -1)
            }
            return true
        }

        function showAceError(name, editor) {

            var msg = "Invalid " + name + ":\n\n"
            editor.getSession().getAnnotations()
                .filter(error => error.type === "error")
                .forEach(error => msg += "Line " + error.row + " : " + error.text + "\n")

            showError(msg)
        }

        function showError(errMsg) {
            document.getElementById("result").classList.add("text_red")
            resultEditor.setOption("wrap", true)
            resultEditor.setValue(errMsg, -1)
        }

        function showResult(result, doIndent) {
            document.getElementById("result").classList.remove("text_red")
            if (doIndent) {
                result = indent(result)
            }
            resultEditor.setOption("wrap", false)
            resultEditor.setValue(result, -1)
        }

    </script>
</head>

<body>
    <div class="toolbar">
        <div class="title" onclick="location.href='/';">Mongo Playground</div>
        <div class="controls">
            <input type="button" value="run" onclick="run()" title="ctrl + enter">
            <input type="button" value="format" onclick="formatAll(true)" title="ctrl + s">
            <input id="share" type="button" value="share" onclick="save()" disabled="hasChanged">
            <input id="link" type="text">
            <label class="bold">Mode:</label>
            <select id="mode" onchange="changeFunc()">
                <option value=0 {{if eq .Mode 1 }} selected {{end}}>bson</option>
                <option value=2 {{if eq .Mode 0 }} selected {{end}}>mgodatagen</option>
            </select>
            <label class="bold">Template:</label>
            <select id="template" onchange="setTemplate(this.options[this.selectedIndex].value)">
                <option value=0>bson single collection</option>
                <option value=1>bson multiple collections</option>
                <option value=2>mgodatagen</option>
                <option value=3>update</option>
                <option value=4>indexe</option>
                <option value=5>explain</option>
            </select>
            <input type="button" value="docs" onclick="showDoc(true)">
        </div>
    </div>
    <div class="content">
        <div id="configPanel">
            <h3>Configuration</h3>
            <div class="resizable_editor">
                <div id="config" class="ignore_warnings">{{printf "%s" .Config}}</div>
                <div id="configResizeHandler" class="handler"></div>
            </div>
        </div>
        <div id="queryPanel">
            <h3>Query</h3>
            <div class="resizable_editor">
                <div id="query" class="ignore_warnings">{{printf "%s" .Query}}</div>
                <div id="queryResizeHandler" class="handler"></div>
            </div>
        </div>
        <div id="resultPanel">
            <h3>Result</h3>
            <div id="result" class="text_red"></div>
        </div>
        <div id="docPanel" class="markdown-body"></div>
    </div>
    <div class="footer">
        <p>
            MongoDB version {{ printf "%s" .MongoVersion }} -
            <a href="https://github.com/feliixx/mongoplayground/issues">Report an issue</a> - 
            <a href="/static/about.html">About this playground</a>
        </p>
    </div>
</body>

</html>