:root {
    --main-font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    --doc-code-font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
    
    --body-background: #fff;
    --toolbar-background: #353535;
    --toolbar-color: #d3d3d3;
    --text-input-border: #808080;
    --text-input-background: #ececec;
    --text-input-color: #000;
    --button-background: #375eab;
    --button-hover-background: #1f3663;
    --h3-color: #24292e;
    --a-color: #0366d6;
    --resize-handler-background: #e5e7e8;
    --footer-color: #646262;

    --dropdown-color: #c9d1d9;
    --dropdown-title-background: #0d1117;
    --dropdown-list-background: #0d1117;
    --dropdown-border: #a5a5a5;
    --dropdown-hover-background: #375eab;
    --dropdown-selected-background: #1f3663;
    
    --ace-editor-background: #f6f8fa;
    --ace-editor-color: #000;
    --ace-editor-border: none;
    --ace-cursor-color: #000;
    --ace-gutter-color: #333333;
    --ace-gutter-background: #f0f0f0;
    --ace-gutter-active-line-background: #dcdcdc;
    --ace-bracket-border: #c0c0c0;
    --ace-autocomplete-background: #f6f8fa;
    --ace-completion-meta-color: #111;
    --ace-completion-line-selected-background: #cad6fa;
    --ace-selection-background: #b5d5ff;

    --token-string-color: #032f62;
    --token-numeric-color: #005cc5;
    --token-function-color: #6f42c1;
    --token-comment-color: #9299a2;
    --token-variable-color: #000;
    --token-language-color: #686df7;
    --token-type-color: #a73f3f;
    --syntax-error-color: #8b0000;

    --doc-color: #24292e;
    --doc-code-background: #1b1f230d;
    --doc-pre-background: #f6f8fa;
}

@media (prefers-color-scheme: dark) {
     :root {
        --body-background: #22272e;
        --toolbar-background: #2d333b;
        --text-input-border: #444c56;
        --text-input-background: #22272e;
        --text-input-color: #c2c3c5;
        --h3-color: #adbac7;
        --a-color: #4c8edf;
        --resize-handler-background: #2d333b;
        --footer-color: #dbd7d7;

        --ace-editor-background: #22272e;
        --ace-editor-color: #a8b5c1;
        --ace-editor-border: 1px solid #2d333b;
        --ace-cursor-color: #a8b5c1;
        --ace-gutter-color: #4c545f;
        --ace-gutter-background: #22272e;
        --ace-gutter-active-line-background: #20242b;
        --ace-bracket-border: #585c61;
        --ace-autocomplete-background: #22272e;
        --ace-completion-meta-color: #a8b5c1;
        --ace-completion-line-selected-background: #171a1f;
        --ace-selection-background: #2e4c77;

        --token-string-color: #85b8e2;
        --token-numeric-color: #65a8ec;
        --token-function-color: #c7ade5;
        --token-comment-color: #6c7985;
        --token-variable-color: #a8b5c1;
        --token-language-color: #d18849;
        --syntax-error-color: #d6655e;

        --doc-color: #a8b5c1;
        --doc-code-background: #3b434d;
        --doc-pre-background: #2d333b;
    }
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--body-background);
}

a {
    color: var(--a-color);
}

.toolbar {
    width: 100%;
    height: 50px;
    background-color: var(--toolbar-background);
}

.toolbar .title {
    width: 220px;
    font-family: var(--main-font-family);
    float: left;
    font-size: 1.6em;
    color: var(--toolbar-color);
    padding: 8px 10px;
    cursor: pointer;
}

.toolbar .controls {
    margin-left: 230px;
    padding: 10px 15px;
    vertical-align: middle;
}

.toolbar .controls>:last-child {
    float: right !important;
}

.toolbar .controls>:last-child>input[type=button] {
    margin-left: 25px;
}

.toolbar label {
    margin-left: 15px;
    font-size: 1.2em;
    color: var(--toolbar-color);
    font-family: var(--main-font-family);
}

.toolbar input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--text-input-border);
    border-radius: 4px;
    background-color: var(--text-input-background);
    color: var(--text-input-color);
    font-size: 1em;
    height: 24px;
    width: 350px;
    visibility: hidden;
}

.toolbar input[type=button] {
    height: 30px;
    border: 1px solid var(--button-background);
    font-size: 1em;
    background: var(--button-background);
    color: white;
    border-radius: 5px;
}

.toolbar input[type=button]:hover,
.toolbar input[type=button]:disabled {
    background: var(--btn-hover-background) !important;
}

.content {
    width: 100%;
    height: calc(100% - 95px);
    display: flex;
}

.content>div {
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 100%;
}

.content>div:first-child {
    flex: 0 1 auto;
    width: 33%;
}

.content>div:last-child {
    flex: 2 1 67%;
    margin-top: 1%;
    margin-left: 50px;
    height: 98% !important;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content>div:not(.doc) h3 {
    text-align: center;
    font-size: 1.2em;
    color: var(--h3-color);
    font-family: var(--main-font-family);
}

.content .config_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.content .config_title>:last-child {
    margin-left: 25px;
}

.content .resizable_editor {
    width: 100%;
    height: 100%;
    display: flex;
}

.content .resizable_editor>div:first-child {
    display: none;
}

.content .handler {
    width: 4px;
    height: 93%;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.content .handler::before {
    content: '';
    display: block;
    height: 100%;
    width: 5px;
    background: var(--resize-handler-background);
}

.footer {
    text-align: center;
    color: var(--footer-color);
    font-family: var(--main-font-family);
}

.about {
    text-align: center;
    margin-top: 50px;
}

.ace_editor {
    color: var(--ace-editor-color);
    border: var(--ace-editor-border);
    background-color: var(--ace-editor-background) !important;
    height: 93% !important;
    width: 100%;
}

.ace_string {
    color: var(--token-string-color) !important;
}

.ace_numeric {
    color: var(--token-numeric-color) !important;
}

.ace_function {
    color: var(--token-function-color) !important;
}

.ace_error {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAAD/AAD///9nGWQeAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAHdElNRQfiAxAENwweWXmlAAAAEUlEQVQI12NgwAlEQ/AROAAAYgMCd2Bgqi4AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTZUMDQ6NTU6MTItMDQ6MDDhkjWsAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTE2VDA0OjU1OjEyLTA0OjAwkM+NEAAAAABJRU5ErkJggg==) !important;
}

.ace_comment {
    color: var(--token-comment-color) !important;
}

.ace_language {
    color: var(--token-language-color) !important;
}

.ace_indent-guide {
    visibility: hidden;
}

.text_red .ace_line {
    color: var(--syntax-error-color) !important;
}

.ace_variable {
    color: var(--token-variable-color) !important;
}

.ace_autocomplete {
    height: 200px !important;
    background-color: var(--ace-autocomplete-background);
}

.ace_,
.ace_completion-meta {
    color: var(--ace-completion-meta-color);
}

.ace_autocomplete>.ace_scroller>.ace_content>.ace_marker-layer>.ace_active-line,
.ace_autocomplete>.ace_scroller>.ace_content>.ace_text-layer>.ace_line.ace_selected {
    background-color: var(--ace-completion-line-selected-background);
}

.ace_cursor {
    color: var(--ace-cursor-color) !important;
}

.ace_gutter-layer {
    color: var(--ace-gutter-color);
    background-color: var(--ace-gutter-background);
}

.ace_gutter-active-line {
    color: var(--ace-gutter-color);
    background-color: var(--ace-gutter-active-line-background) !important;
}

.ace_bracket {
    border: 1px solid var(--ace-bracket-border) !important;
}

.ace_selection {
    background-color: var(--ace-selection-background) !important;
}

@media only screen and (max-width:999px) {
    body {
        overflow: visible;
    }
    .toolbar {
        height: 40px;
    }
    .toolbar .controls {
        padding: 3px 3px;
        margin: 0;
    }
    .toolbar .controls>:nth-child(2),
    .toolbar .controls>:nth-child(5),
    .toolbar .controls>:nth-child(6),
    .toolbar .controls>:nth-child(7),
    .toolbar .controls>:nth-child(8),
    .toolbar .controls>:nth-child(9),
    .toolbar .controls>:nth-child(10),
    .toolbar .controls>:nth-child(11),
    .toolbar .title {
        display: none;
    }
    .content {
        display: inline;
    }
    .content>div {
        width: 100% !important;
        height: 100%;
        padding: 0;
    }
    .content>div:last-child {
        width: 100% !important;
    }
    .content .handler,
    .content .handler::before {
        display: none;
    }
    .ace_editor {
        height: 90% !important;
    }
    .footer {
        display: none;
    }
}

@media only screen and (min-width:1000px) and (max-width:1450px) {
    .toolbar .controls>:nth-child(2),
    .toolbar .controls>:nth-child(7),
    .toolbar .controls>:nth-child(8),
    .toolbar .controls>:nth-child(9),
    .toolbar .controls>:nth-child(10),
    .toolbar .controls>:nth-child(11) {
        display: none;
    }
}


/* styles for documentation */

.doc {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: var(--doc-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
}

.doc .pl-c {
    color: var(--token-comment-color);
}

.doc .pl-c1,
.doc .pl-s .pl-v {
    color: var(--token-numeric-color);
}

.doc .pl-s .pl-s1 {
    color: var(--token-variable-color);
}

.doc .pl-k {
    color: var(--token-variable-color);
}

.doc .pl-pds,
.doc .pl-s {
    color: var(--token-string-color);
}

.doc .pl-type {
    color: var(--token-type-color)
}

.doc a {
    background-color: transparent;
}

.doc a:active,
.doc a:hover {
    outline-width: 0;
}

.doc strong {
    font-weight: inherit;
}

.doc strong {
    font-weight: bolder;
}

.doc code,
.doc pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.doc * {
    box-sizing: border-box;
}

.doc input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.doc a {
    text-decoration: none;
}

.doc a:hover {
    text-decoration: underline;
}

.doc strong {
    font-weight: 600;
}

.doc p {
    margin-top: 0;
    margin-bottom: 10px;
}

.doc ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.doc code {
    font-family: var(--doc-code-font-family);
    font-size: 12px;
}

.doc pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--doc-code-font-family);
    font-size: 12px;
}

.doc::before {
    display: table;
    content: "";
}

.doc::after {
    display: table;
    clear: both;
    content: "";
}

.doc>:first-child {
    margin-top: 0 !important;
}

.doc>:last-child {
    margin-bottom: 0 !important;
}

.doc a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.doc p,
.doc pre,
.doc ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.doc h2,
.doc h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.doc h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
}

.doc h3 {
    font-size: 1.25em;
}

.doc ul {
    padding-left: 2em;
}

.doc ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.doc li {
    word-wrap: break-all;
}

.doc li>p {
    margin-top: 16px;
}

.doc li+li {
    margin-top: .25em;
}

.doc code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--doc-code-background);
    border-radius: 3px;
}

.doc pre {
    word-wrap: normal;
}

.doc pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0;
}

.doc .highlight {
    margin-bottom: 16px;
}

.doc .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.doc .highlight pre,
.doc pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--doc-pre-background);
    border-radius: 3px;
}

.doc pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.doc .link_back_to_top {
    text-align: right;
    font-size: small;
}

.doc .faker_methods {
    width: 100%;
}

.doc .faker_methods>:first-child {
    float: left;
    width: 50%;
}

.doc .faker_methods>:last-child {
    float: right;
    width: 50%;
}


/** Style for custom combobox, adaptation from https://github.com/zoltantothcom/vanilla-js-dropdown by Zoltan Toth */

.js-Dropdown {
    display: inline-block;
    font-size: 1em;
    font-family: var(--main-font-family);
    position: relative;
}

.js-Dropdown-title {
    color: var(--dropdown-color);
    background: var(--dropdown-title-background);
    border: 1px solid var(--dropdown-border);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1em;
    padding: .3em .6em;
    position: relative;
    text-align: left;
    height: 30px;
}

.js-Dropdown-title:after {
    border-color: var(--dropdown-border) transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: 0.5em;
    top: 44%;
    width: 0;
}

.js-Dropdown-list {
    color: var(--dropdown-color);
    background: var(--dropdown-list-background);
    border-left: 1px solid var(--dropdown-border);
    border-right: 1px solid var(--dropdown-border);
    box-sizing: border-box;
    display: none;
    height: 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    transition: .2s linear;
    z-index: 999;
}

.js-Dropdown-list.is-open {
    display: block;
    height: auto;
    opacity: 1;
}

.js-Dropdown-list li {
    border-bottom: 1px solid var(--dropdown-border);
    cursor: pointer;
    padding: .8em 0 .8em 1.5em;
}

.js-Dropdown-list li:hover {
    background-color: var(--dropdown-hover-background);
}

.js-Dropdown-list li.is-selected {
    background-color: var(--dropdown-selected-background);
    color: var(--dropdown-color);
}