<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mongo playground: a simple sandbox to test and share MongoDB queries online">
    <link href="/static/playground-min-5.css" rel="stylesheet" type="text/css">
    <script src="/static/playground-min-5.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/ace.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.3/mode-javascript.js" type="text/javascript"></script>
    <script type="text/javascript">
        var configEditor, queryEditor, resultEditor
        var hasChanged = false

        window.onload = function () {
            var configDiv = document.getElementById("config")
            var queryDiv = document.getElementById("query")
            configDiv.innerHTML = indent(configDiv.innerHTML)
            queryDiv.innerHTML = indent(queryDiv.innerHTML)

            var commonOpts = {
                "mode": "ace/mode/javascript",
                "fontSize": "16px"
            }
            configEditor = ace.edit(configDiv, commonOpts)
            queryEditor = ace.edit(queryDiv, commonOpts)
            resultEditor = ace.edit(document.getElementById("result"), {
                "mode": commonOpts.mode,
                "fontSize": commonOpts.fontSize,
                "readOnly": true,
                "showLineNumbers": false,
                "showGutter": false,
                "useWorker": false,
                "highlightActiveLine": false
            })

            configEditor.getSession().on('change', changeFunc)
            queryEditor.getSession().on('change', changeFunc)

            loadDocs()
            addKeyDownListener()
        }

        function loadDocs() {
            var r = new XMLHttpRequest()
            r.open("GET", "/static/docs-5.html", true)
            r.onreadystatechange = function () {
                if (r.readyState !== 4) { return }
                if (r.status === 200) {
                    document.getElementById("docDiv").innerHTML = r.responseText
                }
            }
            r.send(null)
        }

        function addKeyDownListener() {
            document.addEventListener('keydown', function (event) {
                if ((event.ctrlKey || event.metaKey) && event.key === "Enter") {
                    event.preventDefault()
                    run()
                }
                if ((event.ctrlKey || event.metaKey) && event.key == "s") {
                    event.preventDefault()
                    formatAll()
                }
            })
        }

        function changeFunc() {
            hasChanged = true
            redirect("/", false)
        }

        function redirect(url, showLink) {
            window.history.replaceState({}, "MongoDB playground", url)
            document.getElementById("link").style.visibility = showLink ? "visible" : "hidden"
            document.getElementById("link").value = url
            document.getElementById("share").disabled = showLink
        }

        var templates = [
            '[{"key":1},{"key":2}]',
            'db={"collection":[{"key":0},{"key":12}],"other":[{"key2":2}]}',
            '[{"collection": "collection","count": 10,"content": {"key": {"type": "int","minInt": 0,"maxInt": 10}}}]'
        ]

        function setTemplate(index) {
            configEditor.setValue(indent(templates[index]), -1)
        }

        function showDoc(doShow) {
            if (doShow && document.getElementById("docDiv").style.display === "inline") {
                doShow = false
            }
            document.getElementById("docDiv").style.display = doShow ? "inline" : "none"
            document.getElementById("query").parentNode.style.display = doShow ? "none" : "inline"
            document.getElementById("result").parentNode.style.display = doShow ? "none" : "inline"
            if (!doShow && hasChanged) {
                redirect("/", false)
            }
        }

        function run() {
            if (isCorrect()) {
                
                var r = new XMLHttpRequest()
                r.open("POST", "/run")
                r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
                r.onreadystatechange = function () {
                    if (r.readyState !== 4) { return }
                    if (r.status === 200) {
                        var response = r.responseText
                        if (response.startsWith("[")) {
                            response = indent(response)
                        }
                        resultEditor.setValue(response, -1)
                    }
                }
                r.send(encodePlayground())
            }
        }

        function save() {

            isCorrect()

            var r = new XMLHttpRequest()
            r.open("POST", "/save")
            r.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
            r.onreadystatechange = function () {
                if (r.readyState !== 4) { return }
                if (r.status === 200) {
                    redirect(r.responseText, true)
                    hasChanged = false
                }
            }
            r.send(encodePlayground())
        }

        function getCurrentMode() {
            return document.querySelector('input[name="mode"]:checked').value
        }

        function encodePlayground() {
            return "mode=" + getCurrentMode()
                + "&config=" + encodeURIComponent(compact(configEditor.getValue()))
                + "&query=" + encodeURIComponent(compact(queryEditor.getValue()))
        }

        function formatAll() {

            resultEditor.setValue("", -1)

            var formattedConfig = formatConfig(configEditor.getValue().trim(), getCurrentMode())
            if (formattedConfig === "invalid") {
                resultEditor.setValue("invalid configuration:\n  must be an array of documents like '[ {_id: 1} ]'\n\n    or\n\n    must match 'db = { collection: [ {_id: 1}, ... ] }'", -1)
                return false
            }
            if (hasChanged) {
                configEditor.setValue(indent(formattedConfig), -1)
            }

            var formattedQuery = formatQuery(queryEditor.getValue().trim(), getCurrentMode())
            if (formattedQuery === "invalid") {
                resultEditor.setValue("invalid query: \n  must match db.coll.find(...) or db.coll.aggregate(...)", -1)
                return false
            }
            if (hasChanged) {
                queryEditor.setValue(indent(formattedQuery), -1)
            }
            return true
        }

        function isCorrect() {

            showDoc(false)

            var errors = document.querySelectorAll("#config > .ace_gutter > .ace_layer > .ace_error")
            if (errors.length > 0) {
                resultEditor.setValue("error(s) found in configuration", -1)
                return false
            }

            errors = document.querySelectorAll("#query > .ace_gutter > .ace_layer > .ace_error")
            if (errors.length > 0) {
                resultEditor.setValue("error(s) found in query", -1)
                return false
            }
            return formatAll()
        }
    </script>
</head>

<body>
    <div class="toolbar">
        <div class="title">Mongo Playground</div>
        <div class="controls">
            <input type="button" value="run" onclick="run()" title="ctrl + enter">
            <input type="button" value="format" onclick="isCorrect()" title="ctrl + s">
            <input id="share" type="button" value="share" onclick="save()" disabled="hasChanged">
            <input id="link" type="text">
            <label class="bold">Template:</label>
            <select id="template" onchange="setTemplate(this.options[this.selectedIndex].value)">
                <option value=0>bson single collection</option>
                <option value=1>bson multiple collections</option>
                <option value=2>mgodatagen</option>
            </select>
            <label class="bold">Mode:</label>
            <input type="radio" name="mode" value="bson" onchange="changeFunc()" {{if eq .Mode 1 }} checked {{end}} />
            <label for="bson">bson</label>
            <input type="radio" name="mode" value="mgodatagen" onchange="changeFunc()" {{if eq .Mode 0 }} checked
                {{end}} />
            <label for="mgodatagen">mgodatagen</label>
            <input type="button" value="docs" onclick="showDoc(true)">
        </div>
    </div>
    <div class="content">
        <div>
            <h3>Configuration</h3>
            <div id="config" class="ignore_warnings">{{printf "%s" .Config}}</div>
        </div>
        <div>
            <h3>Query</h3>
            <div id="query" class="ignore_warnings">{{printf "%s" .Query}}</div>
        </div>
        <div>
            <h3>Result</h3>
            <div id="result"></div>
        </div>
        <div id="docDiv" class="markdown-body"></div>
    </div>
    <div class="footer">
        <p>
            MongoDB version {{ printf "%s" .MongoVersion }} -
            <a href="https://github.com/feliixx/mongoplayground/issues">Report an issue</a> -
            Source code is available on <a href="https://github.com/feliixx/mongoplayground">github</a>
        </p>
    </div>
</body>

</html>