<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mongo playground: a simple sandbox to test and share MongoDB queries online">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="/static/playground-min-03b23cf32ed3c44656bf7a0e8bfe9bff.css" rel="stylesheet" type="text/css">
    <script src="/static/playground-min-4f57e215d17dad7efd412b34dff57e94.js" type="text/javascript"></script>
</head>

<body>
    <div class="toolbar">
        <div>
            <label id="labelTemplate">Template</label>
            <select id="template">
                <option>single collection</option>
                <option>multiple collections</option>
                <option>mgodatagen</option>
                <option>update</option>
                <option>indexe</option>
                <option>explain</option>
            </select>
        </div>
        <div>
            <label id="aggregation_stages_label">Stage</label>
            <select id="aggregation_stages"></select>
            <input id="run" type="button" value="▶ run" data-tooltip="Ctrl + Enter">
            <input id="format" type="button" value="format" data-tooltip="Ctrl + s">
            <input id="share" type="button" value="share" disabled>
            <div id="link" data-tooltip="Copied ✔"></div>
        </div>
        <div>
            <input id="showDoc" type="button" value="docs">
        </div>
    </div>
    <div class="content">
        <div id="configPanel">
            <div class="config_title">
                <h3>Database</h3>
                <select id="mode">
                    <option {{if eq .Mode 1 }} selected {{end}}>bson</option>
                    <option {{if eq .Mode 0 }} selected {{end}}>mgodatagen</option>
                </select>
            </div>
            <div class="resizable_editor">
                <div id="config">{{printf "%s" .Config}}</div>
                <div id="configResizeHandler" class="handler"></div>
            </div>
        </div>
        <div id="queryPanel">
            <h3>Query</h3>
            <div class="resizable_editor">
                <div id="query">{{printf "%s" .Query}}</div>
                <div id="queryResizeHandler" class="handler"></div>
            </div>
        </div>
        <div id="resultPanel">
            <h3>Result</h3>
            <div id="result"></div>
        </div>
        <div id="docPanel" class="doc"></div>
    </div>
    <div class="footer">
        <p>
            MongoDB version {{ printf "%s" .MongoVersion }} -
            <a href="https://github.com/feliixx/mongoplayground/issues">Report an issue</a> -
            <a href="/static/about.html">About this playground</a>
        </p>
    </div>
</body>

</html>