<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo playground</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mongo playground: a simple sandbox to test and share MongoDB queries online">
    <meta name="color-scheme" content="dark light">
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="/static/playground-min-52d1494151650ac124325e8ed1814c0a.css" rel="stylesheet" type="text/css">
    <script src="/static/playground-min-e5b084355ab38e0363b490149d231f9d.js" type="text/javascript"></script>
</head>

<body>
    <div class="toolbar">
        <div class="title">Mongo Playground</div>
        <div class="controls">
            <input id="run" type="button" value="run" title="ctrl + enter">
            <input id="format" type="button" value="format" title="ctrl + s">
            <input id="share" type="button" value="share" disabled>
            <input id="link" type="text">
            <label id="aggregation_stages_label">Stage by stage output:</label>
            <select id="aggregation_stages"></select>
            <div>
                <label>Template:</label>
                <select id="template">
                    <option>bson single collection</option>
                    <option>bson multiple collections</option>
                    <option>mgodatagen</option>
                    <option>update</option>
                    <option>indexe</option>
                    <option>explain</option>
                </select>
                <input id="showDoc" type="button" value="docs">
            </div>
        </div>
    </div>
    <div class="content">
        <div id="configPanel">
            <div class="config_title">
                <h3>Configuration</h3>
                <select id="mode">
                    <option {{if eq .Mode 1 }} selected {{end}}>bson</option>
                    <option {{if eq .Mode 0 }} selected {{end}}>mgodatagen</option>
                </select>
            </div>
            <div class="resizable_editor">
                <div id="config">{{printf "%s" .Config}}</div>
                <div id="configResizeHandler" class="handler"></div>
            </div>
        </div>
        <div id="queryPanel">
            <h3>Query</h3>
            <div class="resizable_editor">
                <div id="query">{{printf "%s" .Query}}</div>
                <div id="queryResizeHandler" class="handler"></div>
            </div>
        </div>
        <div id="resultPanel">
            <h3>Result</h3>
            <div id="result"></div>
        </div>
        <div id="docPanel" class="doc"></div>
    </div>
    <div class="footer">
        <p>
            MongoDB version {{ printf "%s" .MongoVersion }} -
            <a href="https://github.com/feliixx/mongoplayground/issues">Report an issue</a> -
            <a href="/static/about.html">About this playground</a>
        </p>
    </div>
</body>

</html>