body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.toolbar {
    width: 100%;
    height: 50px;
    background-color: rgb(51, 51, 51);
}

.toolbar>.title {
    width: 220px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    float: left;
    font-size: 1.6em;
    color: lightgray;
    padding: 8px 10px;
}

.toolbar>.controls {
    margin-left: 230px;
    padding: 10px 15px;
}

.toolbar>.controls> :last-child {
    float: right !important;
}

.toolbar>.controls>label {
    color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.toolbar>.controls>label.bold {
    margin-left: 15px;
    font-size: 1.2em;
}

.toolbar>.controls>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(236, 236, 236);
    font-size: 1em;
    height: 30px;
    width: 200px;
    text-align: center;
    text-align-last: center;
}

.toolbar>.controls>input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(236, 236, 236);
    font-size: 1em;
    height: 24px;
    width: 335px;
    visibility: hidden;
}

.toolbar>.controls>input[type="button"] {
    height: 30px;
    border: 1px solid rgb(55, 94, 171);
    font-size: 1em;
    background: rgb(55, 94, 171);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.toolbar>.controls>input[type="button"]:hover, input[type="button"]:disabled {
    background: rgb(31, 54, 99) !important;
}

.toolbar>.controls>input[type="radio"] {
    vertical-align: middle;
    margin: 0;
}

.content {
    width: 100%;
    height: calc(100% - 95px);
    display: flex;
}

.content>div {
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 100%;
}

.content>div:last-child {
    box-sizing: border-box;
    flex: min-content;
    margin-top: 1%;
    margin-left:50px;
    height: 98% !important;
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content>div>h3 {
    text-align: center;
    font-size: 1.2em;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.content>div>.resizable_editor {
    width: 100%;
    height: 100%;
    display: flex;
}

.content>div>.resizable_editor>.handler {
    width: 4px;
    height: 93%;
    cursor: ew-resize;
    flex: 0 0 auto;
}

.content>div>.resizable_editor>.handler::before {
    content: '';
    display: block;
    height: 100%;
    width: 5px;
    background: rgb(158, 158, 158);
}

.footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(100, 98, 98);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

/* override some specific ace class for syntax coloration*/

.ace_editor {
    background-color: rgb(246, 248, 250) !important;
    height: 93% !important;
    width: 100%;
}

.ace_string {
    color: #032f62 !important;
}

.ace_numeric {
    color: #005cc5 !important;
}

.ace_function {
    color: #6f42c1 !important;
}

.ace_error {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEUAAAD/AAD///9nGWQeAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAHdElNRQfiAxAENwweWXmlAAAAEUlEQVQI12NgwAlEQ/AROAAAYgMCd2Bgqi4AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTgtMDMtMTZUMDQ6NTU6MTItMDQ6MDDhkjWsAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE4LTAzLTE2VDA0OjU1OjEyLTA0OjAwkM+NEAAAAABJRU5ErkJggg==') !important;
}

.ace_comment {
    color: #46494d !important;
}

.text_red>.ace_scroller>.ace_content>.ace_text-layer>.ace_line_group>.ace_line>span {
    color: darkred !important;
}

.ignore_warnings>.ace_gutter>.ace_layer>.ace_warning, .ace_info {
    background-image: none !important;
}

@media only screen and (max-width: 999px) {
    body {
        overflow: visible;
    }
    .toolbar {
        height: 40px;
    }
    .toolbar>.controls {
        padding: 3px 3px;
        margin: 0;
    }
    .toolbar>.title, .toolbar>.controls> :nth-child(2), .toolbar>.controls> :nth-child(4), .toolbar>.controls> :nth-child(5), .toolbar>.controls> :nth-child(6), .toolbar>.controls> :nth-child(7) {
        display: none;
    }
    .content {
        display: inline;
    }
    .content>div {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .content>div:last-child {
        width: 100% !important;
    }
    .content>div>.resizable_editor>.handler, .handler::before {
        display: none;
    }
    .ace_editor {
        height: 90% !important;
    }
    .footer {
        display: none;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1450px) {
    .toolbar>.controls> :nth-child(5), .toolbar>.controls> :nth-child(6), .toolbar>.controls> :nth-child(7) {
        display: none;
    }
}